body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 50px;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0; /* default: no padding on large screens */
}
#menu-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10001; /* on top of sketch */
}

#menu-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#dropdown {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  flex-direction: column;
  min-width: 140px;
}

#dropdown a {
  padding: 10px;
  text-align: right;
  display: block;
  text-decoration: none;
  color: black;
}

#dropdown a:hover {
  background-color: #f0f0f0;
}

/* Show dropdown when hovering over container */
#menu-container:hover #dropdown {
  display: flex;
}
#section2 {
  background-color: #e0dfd5; /* Optional background color */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.section-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-image {
  max-width: 80%;
  max-height: 80vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

